  <html>
  <meta charset="UTF-8" />

<script src="https://kit.fontawesome.com/73f09fc4b1.js" crossorigin="anonymous"></script>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
        <div class="social">
<h1>Welcome to <i class="fas fa-book"></i><strong>Bookers!</strong></h1>
</div>
    </h1>
  </div>

</html>